name: ci
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        check-latest: true
        distribution: adopt
    - uses: coursier/cache-action@v8
    - run: curl -Ls https://git.io/sbt > ./sbt && chmod 0755 ./sbt
    - run: ./sbt -v "+ Test/run"
